<tr>
  <td>
  <h4><%= sale.id %></h4>
  </td>
  <td>
    <h4><%= sale.name %></h4>
    <br>
    <p><%= sale.description %></p>
  </td>
  <td>
    
  </td>
  <td>
    <span class="label label-success">Active</span>
    <span class="label label-danger">Finished</span>
    <span class="label label-warning">Upcoming</span>
  </td>
  <td>

  </td>
  <td>
    
  </td>
</tr>