<div class="alert alert-warning" role="alert">
  <p>Your shopping cart is empty, but we know how to fix that!</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Start Shopping</a>
</div>

